$heightNav: 5rem;
$NavColor: linear-gradient(
  90deg,
  rgba(2, 0, 36, 0.3) 0%,
  rgba(10, 9, 121, 0.5) 52%,
  rgba(31, 36, 37, 0.551) 100%
);
$NavHeading: White;
//animation
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
$transitionCards: all 0.2s ease-in;
$transitionCardsImg:scale(1.15);
$animationRo: rotation 30s linear infinite;
//mixin
//font and colors
@mixin font($fontSize, $font-weight) {
  font-size: $fontSize;
  font-weight: $font-weight;
}
@mixin font-color($color) {
  color: $color;
}
//flex
@mixin flex-align {
  display: flex;
  justify-content: center;
}
@mixin btn-all {
  @include font(18px, 600);
  border: 2px solid $NavHeading;
  @include font-color($NavHeading);
  text-transform: uppercase;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 0;
  transition: color 0.4s linear;
  margin: 0;
  text-decoration: none;
}
