@import "../../styles/Variables.scss";
nav {
  z-index: 11;
  padding: 0px 50px;
  position: fixed;
  width: 100%;
  height: $heightNav;
  backdrop-filter: blur(5px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  background: $NavColor;
  a {
    color: $NavHeading !important;
  }
}
