:root {
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
nav {
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  height: var(--nav-height);
  backdrop-filter: blur(5px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
}
