@import "../../styles/Variables.scss";
.carousel {
  width: 100% !important;
  height: 85vh;
  img {
    width: 100%;
    object-fit: cover;
    height: 85vh;
  }
}
.carousel-title {
  color: white;
  margin-top: 6rem;
  .btn {
    @include btn-all();
    margin-top: 2rem;
  }
}
@media screen and (max-width: 590px) {
  .carousel-title {
    margin-top: 6rem;
    margin-bottom: 1rem;
  }
}
